<div ng-app="webchat" class="container" ng-controller="loginController">
    <div class="col-12">
        <div class="form-group">
            <div class="row">
                <label for="userName">User Name:</label>
            </div>
            <div class="row">
                <input class="small form-control" type="text " ng-model="user " placeholder="Enter a unique name" autocomplete="off " width="100% ">
                <small id="notes " class="form-text text-muted ">If username is empty, by default, random name will be selected.</small>
            </div>
            <div class="row mt-2">
                <button class="btn btn-primary " ng-click="checkAuth() ">Login</button>
            </div>
            <div class="row alert alert-danger alert-dismissible mt-2" id="alertmessage" ng-if="show">
                Username already exists! Please try a different username.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" ng-click ="closeAlert()">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>